
@{
    ViewData["Title"] = "页面代码错误";
}

<h1>Error</h1>

@*<div class="alert alert-danger">

    @ViewBag.Path 
    <hr />

</div>
<div class="alert alert-danger">
    @ViewBag.Message
    <hr />
</div>
<div class="alert alert-danger">
    @ViewBag.StackTrace
    <hr />
</div>*@

