
@{
    ViewData["Title"] = "页面不存在";
}

<h1>@ViewBag.ErrorMeagess</h1>
@*<h1>@ViewBag.Path</h1>
<h1>@ViewBag.PathBase</h1>
<h1>@ViewBag.QueryString</h1>*@




<a asp-controller="Home" asp-action="Index">返回主页</a>

